<%- include('includes/head') %>

  <section class="container">
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
      <label for="">Título</label>
      <input type="text" name="titulo"/>
      <button type="Submit">Enviar</button>
    </form>
  </section>

  <%- include('includes/footer') %>